/*font family notes
Raleway
Thin 100
Thin 100 Italic
ExtraLight 200
ExtraLight 200 Italic
Light 300
Light 300 Italic
Regular 400
Regular 400 Italic
Medium 500
Medium 500 Italic
SemiBold 600
SemiBold 600 Italic
Bold 700
font-family: 'Raleway', sans-serif;
*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 3em
}

h2{
    font-size: 5em;
 }

.keystone{
padding-top: 2em;
padding-bottom: 2em;
}

 .nameplate {
    text-align: right;
 }

 .slogan {
    margin: 4em;
    text-align: left;
 }

 .about{
    line-height: 2em;
 }

 footer {
    text-align: center;
    margin: 4em 0;
 }