/*font-family: 'Playfair Display SC', serif;

font-family: 'Source Sans Pro', sans-serif;*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 2.5;
    margin-left: 12em;
    margin-right: 12em;
    margin-top: 3em;
    background-color: #F8F8F1;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 4em;
    padding-bottom: 1em;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.graphic_one {
    padding-top: 2em;
    padding-bottom: 2em;
}

.wards {
    padding-top: 3em;
}

.foot {
    padding: 4em;
}

.title {
    text-align: center;
}
