/* link style */
a:link{
    color:#0e171a;
    text-decoration: underline;
    text-decoration-color:#b2322d;
}

a:hover{
    color: #b2322d;
}

.titlehead a:link{
    color:#fafafa;
    text-decoration: underline;
    text-decoration-color:#fafafa;
}

.titlehead a:hover {
    color: #b2322d;
}

/*titlehead style*/

.titlehead img {
    padding: 2em;
    float: left;
}

/*body style*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
}
.block1 {
    padding-top: 4em;
}

.bulletlist1 {
    padding-bottom: 2em
}

h1 {
    font-family: 'Cabin Condensed';
    font-size: 3em;
    color: #fafafa;
    font-weight: 700;

}

h2 {
    font-family: 'Cabin Condensed';
    font-size: 1.5em;
    font-weight: 700;

}

h3 {
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 700;

}

h3{ 
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
    font-weight: 700;
}

h4{ 
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
    color: #b2322d;
    padding: 1em;
    font-weight: 700;
}

.titlehead p {
    text-transform: uppercase;
    font-size: .65em;
    letter-spacing: 1.5px;
    color: #fafafa;
}

.titlehead {
    background-color: #0e171a ;
    
}

.titlehead img{
    
}

.table1 {
    text-align: center;
    padding: 1em;
}

.map1{
    align-content: center;
    padding-top:  1em;
    padding-bottom: 2em;  
}

/* timeline section */

.timeline {
    padding-top: 3em;
}

.timeline b{
    background-color: #b2322d;
    color: #fafafa;
}

/* linechart1 section */

.block4{
    padding-top: 3em;
}

.linechart1 h4{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
}

/*table2 section*/

.table2 {
    text-align: center;
}

.table2 iframe{
    padding-bottom:2em ;
}

/* graph2 section */

.graph2 iframe{
    padding-bottom: 3em;
}

