body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    

}

h1 {
    font-family: 'Cabin Condensed';
    font-size: 3em, 700;
    color: #fafafa;

}

h2 {
    font-family: 'Cabin Condensed';
    font-size: 1.5em;

}

h3 {
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
    text-transform: uppercase;

}

h3{ 
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
}

.titlehead p {
    text-transform: uppercase;
    font-size: .65em;
    letter-spacing: 1.5px;
    color: #fafafa;
}

.titlehead {
    background-color: #0e171a ;
    
}