body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    

}

h1 {
    font-family: 'Cabin Condensed'

}

h2 {
    font-family: 'Cabin Condensed'

}

h3 {
    font-family: 'Cabin Condensed'

}